.background {
	height:450px;
}
.bodycolor {
	background-color:cornsilk;
}
.headerfootercolor{
    background-color:#ffa64d;
}

h1 {
	text-align:center;
	font-family:"Edmunds";
	font-size:230%;
}

.footer {
	text-align:center;
    padding-top:25px;
}

.border {
	border-style:groove;
	border-bottom:0px;
}

#descriptionborder {
	max-width:400px;
	border-style:groove;
	border-color:black;
}

#description {
	text-align:left;
	padding: 0px 15px 0px 15px;
}

div.center {
	margin:0 auto;
}

@font-face{
	font-family:"Edmunds";
	src: url("Edmunds_Regular.otf");
}

a:link {}

a:visited {
	color:red;
}

a:hover {
	font-weight:900;
}

a:active {
	text-decoration:none;
}

.page-header {
    height:40px;   
    background-color:yellow;
}
h1 {
    font-size: 45px;   
}
.footerspacing p {
    padding-bottom: 5px;   
}
.divcenter {
    max-width:300px;
    margin:0 auto;
}
#blazinCarousel {
    height:100px;   
}
.wrap {
    width:200px;
}
.carousel-indicators {
bottom:-10px;
}
.carousel-bold {
font-weight:800;  
}
.carousel-caption { 
    bottom:-20px; 
}
.alert-warning {
    line-height: 0px;
}
#warning-height {
    height:30px;   
}
.paddingtest{
padding-top:-20px;   
}
.nav {
background-color:#ffd699; 
}