.background {
	height:450px;
}

h1 {
	text-align:center;
}

#navbar {
	padding: 15px 0px 15px 0px;
}

span {
	padding-left: 20px;
}

.footer {
	padding:15px 0px 0px 0px;
	text-align:center;
}

.border {
	border-style:groove;
	border color:black;
	border-bottom:0px;
}

#descriptionborder {
	width:400px;
	border-style:groove;
	border-color:black;
}

#description {
	text-align:left;
	padding: 0px 15px 0px 15px;
}

#contactus {
	width:400px;
}

div.center {
	margin:0 auto;
}

