.sansSerif {
    font-family: Helvetica;
}
.textAlign {
    text-align:center;    
}
thead.textAlign{
    text-align:left;
}   
.size {  
    width:400px;  
    margin:0 auto;
    height:450px;
  }
table.size {
    width:270px;
    height:240px;
    margin:0 auto;
    font-size:15px;
}
#tableBorder {
    border-collapse:collapse;
}
table.format td, table.format th {
    width:65%;
    padding:0px 10px 0px 10px;
    height:60px;
}
table.format thead{
    background-color:gainsboro;
}
table.format tbody{
    background-color:white;
}
#buttonSpacing {
    padding:20px 0px 0px 0px;   
}
#playButton {
    width:130px;
    height:50px;
    font-size:16px;
}
.resultMargin {   
    width:316px;
    height:326px;
    margin:0 auto;
    background-color:moccasin;
}
.underLine {
 text-decoration:underline;   
}
#h2Spacing {
padding-top:15px;    
}