.background {
	height:450px;
}
#homebgcolor {
	background-color:beige;
}

h1 {
	text-align:center;
	font-family:"Edmunds";
	font-size:230%;
}

.footer {
	text-align:center;
    padding-top:25px;
}

.border {
	border-style:groove;
	border-bottom:0px;
}

#descriptionborder {
	max-width:400px;
	border-style:groove;
	border-color:black;
}

#description {
	text-align:left;
	padding: 0px 15px 0px 15px;
}

div.center {
	margin:0 auto;
}

@font-face{
	font-family:"Edmunds";
	src: url("Edmunds_Regular.otf");
}

a:link {}

a:visited {
	color:red;
}

a:hover {
	font-weight:900;
}

a:active {
	text-decoration:none;
}

.page-header {
    height:40px;   
    background-color:yellow;
}
h1 {
    font-size: 45px;   
}
.footerspacing p {
    padding-bottom: 5px;   
}