p, h1, h3, th, td {
	text-align:center;
}

.center {
	margin: 0 auto;
}

img.center {
	margin: 0 auto;
	display: block;
}

div.center {
	text-align:center;
}

#AlbumImage {
	width:400px;
	height:400px;
}

#MemberList {
	text-align:left;
	padding-left:200px;
}

